<?xml version="1.0" encoding="utf-8"?>
<config>
 <version>1.5</version>
    <params>
    <param name="csv_delimiter" type="text" default="," label="CSV Delimiter" description="Delimiter used in the CSV Files"></param>
    
    <param name="save_exclude_list" type="textarea"
    	label="DUESEXPORT_EXCLUDED_FIELDS"
    	description="Comma delimited field list" default="user_id" cols="50"
    	rows="5">

	</param>
    </params>
	 <fields>
    <fieldset name="display" label="dues export options">
    <field name="csv_delimiter" type="text" default="," label="CSV Delimiter" description="Delimiter used in the CSV Files"></field>
    
    <field name="save_exclude_list" type="textarea"
    	label="DUESEXPORT_EXCLUDED_FIELDS"
    	description="Comma delimited field list" default="user_id" cols="50"
    	rows="5">
    </field>
    </fieldset>
	</fields>
</config>